$primary-color: #0d0d0d;
$secondary-color: #a6a6a4;

$color-1: #f27405;
$color-2: #f25c05;
$color-3: #bff2bd;

$primary: $primary-color;
$warning: #c82733;
$body-bg: $secondary-color;

@import "../node_modules/bootstrap/scss/bootstrap";

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.row-header {
    @include zero-margin(0px, 0px);
}

.row-content {
    @include zero-margin(50px, 0px);
    border-bottom: 1px ridge;
    // min-height:400px;
}

.footer {
    background-color: $color-1;
    @include zero-margin(20px, 0px);
}

.jumbotron {
    @include zero-margin(70px, 30px);
    background: $color-1;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: $primary;
}

.tab-content {
    border-left: 1px solid $secondary-color;
    border-right: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    padding: 10px;
}

.carousel {
    background: $primary;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.modal-header {
    // background-color: $background-dark;
    background-color: $primary-color;
    color: $color-1;
}

.modal-body,
.modal-footer {
    // background-color: $background-pale;
    background-color: $secondary-color;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: lightgrey;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: gray;
}

table,
.card {
    border: 2px solid black;
}
